(
    palette: Dark((
        name: "pywal-dark",
        bright_red: (
            red: {color1.red},
            green: {color1.green},
            blue: {color1.blue},
            alpha: 1.0,
        ),
        bright_green: (
            red: {color2.red},
            green: {color2.green},
            blue: {color2.blue},
            alpha: 1.0,
        ),
        bright_orange: (
            red: {color3.red},
            green: {color3.green},
            blue: {color3.blue},
            alpha: 1.0,
        ),
        gray_1: (
            red: {color0.red},
            green: {color0.green},
            blue: {color0.blue},
            alpha: 1.0,
        ),
        gray_2: (
            red: {color8.red},
            green: {color8.green},
            blue: {color8.blue},
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        neutral_1: (
            red: {color0.red},
            green: {color0.green},
            blue: {color0.blue},
            alpha: 1.0,
        ),
        neutral_2: (
            red: {color8.red},
            green: {color8.green},
            blue: {color8.blue},
            alpha: 1.0,
        ),
        neutral_3: (
            red: {color8.red},
            green: {color8.green},
            blue: {color8.blue},
            alpha: 1.0,
        ),
        neutral_4: (
            red: {color8.red},
            green: {color8.green},
            blue: {color8.blue},
            alpha: 1.0,
        ),
        neutral_5: (
            red: {color7.red},
            green: {color7.green},
            blue: {color7.blue},
            alpha: 1.0,
        ),
        neutral_6: (
            red: {color7.red},
            green: {color7.green},
            blue: {color7.blue},
            alpha: 1.0,
        ),
        neutral_7: (
            red: {color15.red},
            green: {color15.green},
            blue: {color15.blue},
            alpha: 1.0,
        ),
        neutral_8: (
            red: {color15.red},
            green: {color15.green},
            blue: {color15.blue},
            alpha: 1.0,
        ),
        neutral_9: (
            red: {foreground.red},
            green: {foreground.green},
            blue: {foreground.blue},
            alpha: 1.0,
        ),
        neutral_10: (
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_blue: (
            red: {color4.red},
            green: {color4.green},
            blue: {color4.blue},
            alpha: 1.0,
        ),
        accent_indigo: (
            red: {color12.red},
            green: {color12.green},
            blue: {color12.blue},
            alpha: 1.0,
        ),
        accent_purple: (
            red: {color5.red},
            green: {color5.green},
            blue: {color5.blue},
            alpha: 1.0,
        ),
        accent_pink: (
            red: {color13.red},
            green: {color13.green},
            blue: {color13.blue},
            alpha: 1.0,
        ),
        accent_red: (
            red: {color1.red},
            green: {color1.green},
            blue: {color1.blue},
            alpha: 1.0,
        ),
        accent_orange: (
            red: {color11.red},
            green: {color11.green},
            blue: {color11.blue},
            alpha: 1.0,
        ),
        accent_yellow: (
            red: {color3.red},
            green: {color3.green},
            blue: {color3.blue},
            alpha: 1.0,
        ),
        accent_green: (
            red: {color2.red},
            green: {color2.green},
            blue: {color2.blue},
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: {color7.red},
            green: {color7.green},
            blue: {color7.blue},
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: {color7.red},
            green: {color7.green},
            blue: {color7.blue},
            alpha: 1.0,
        ),
        ext_orange: (
            red: {color11.red},
            green: {color11.green},
            blue: {color11.blue},
            alpha: 1.0,
        ),
        ext_yellow: (
            red: {color3.red},
            green: {color3.green},
            blue: {color3.blue},
            alpha: 1.0,
        ),
        ext_blue: (
            red: {color4.red},
            green: {color4.green},
            blue: {color4.blue},
            alpha: 1.0,
        ),
        ext_purple: (
            red: {color5.red},
            green: {color5.green},
            blue: {color5.blue},
            alpha: 1.0,
        ),
        ext_pink: (
            red: {color13.red},
            green: {color13.green},
            blue: {color13.blue},
            alpha: 1.0,
        ),
        ext_indigo: (
            red: {color12.red},
            green: {color12.green},
            blue: {color12.blue},
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: {color7.red},
        green: {color7.green},
        blue: {color7.blue},
    )),
    bg_color: Some((
        red: {background.red},
        green: {background.green},
        blue: {background.blue},
        alpha: 1.0,
    )),
    primary_container_bg: None,
    secondary_container_bg: None,
    text_tint: Some((
        red: {foreground.red},
        green: {foreground.green},
        blue: {foreground.blue},
    )),
    accent: Some((
        red: {color11.red},
        green: {color11.green},
        blue: {color11.blue},
    )),
    success: Some((
        red: {color2.red},
        green: {color2.green},
        blue: {color2.blue},
    )),
    warning: Some((
        red: {color3.red},
        green: {color3.green},
        blue: {color3.blue},
    )),
    destructive: Some((
        red: {color1.red},
        green: {color1.green},
        blue: {color1.blue},
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 2,
    window_hint: None,
)
