(
    palette: Dark((
        name: "ashwal",

        bright_red: "#{color9.strip}FF",
        bright_green: "#{color10.strip}FF",
        bright_orange: "#{color11.strip}FF",

        gray_1: "#{color0.strip}FF",
        gray_2: "#{color8.strip}FF",

        neutral_0: "#{color0.strip}FF",
        neutral_1: "#{color0.strip}FF",
        neutral_2: "#{color8.strip}FF",
        neutral_3: "#{color8.strip}FF",
        neutral_4: "#{color7.strip}FF",
        neutral_5: "#{foreground.strip}FF",
        neutral_6: "#{foreground.strip}FF",
        neutral_7: "#{foreground.strip}FF",
        neutral_8: "#{foreground.strip}FF",
        neutral_9: "#{foreground.strip}FF",
        neutral_10: "#{foreground.strip}FF",

        accent_blue: "#{color4.strip}FF",
        accent_indigo: "#{color12.strip}FF",
        accent_purple: "#{color5.strip}FF",
        accent_pink: "#{color13.strip}FF",
        accent_red: "#{color1.strip}FF",
        accent_orange: "#{color3.strip}FF",
        accent_yellow: "#{color11.strip}FF",
        accent_green: "#{color2.strip}FF",

        accent_warm_grey: "#{color7.strip}FF",
        ext_warm_grey: "#{color8.strip}FF",
        ext_orange: "#{color3.strip}FF",
        ext_yellow: "#{color11.strip}FF",
        ext_blue: "#{color6.strip}FF",
        ext_purple: "#{color5.strip}FF",
        ext_pink: "#{color13.strip}FF",
        ext_indigo: "#{color12.strip}FF",
    )),

    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),

    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),

    neutral_tint: None,
    bg_color: None,

    primary_container_bg: None,
    secondary_container_bg: None,

    text_tint: None,

    accent: Some("#{color4.strip}FF"),
    success: None,
    warning: None,
    destructive: None,

    frosted: Medium,

    gaps: (0, 8),
    active_hint: 3,
    window_hint: None,

    frosted_windows: true,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,

    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)
